<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mskyeye.trace.mapper.YzAiCruiseInfoMapper">
    
    <resultMap type="YzAiCruiseInfo" id="YzAiCruiseInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="lon"    column="lon"    />
        <result property="lat"    column="lat"    />
        <result property="cameraId"    column="camera_id"    />
        <result property="points"    column="points"    />
    </resultMap>

    <sql id="selectYzAiCruiseInfoVo">
        select id, name, lon, lat, camera_id, points from yz_ai_cruise_info
    </sql>

    <select id="selectCountByCameraId" parameterType="YzAiCruiseInfo">
        select count(*) from yz_ai_cruise_info where camera_id = #{cameraId}
    </select>

    <select id="selectYzAiCruiseInfoList" parameterType="YzAiCruiseInfo" resultMap="YzAiCruiseInfoResult">
        <include refid="selectYzAiCruiseInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="lon != null "> and lon = #{lon}</if>
            <if test="lat != null "> and lat = #{lat}</if>
            <if test="cameraId != null "> and camera_id = #{cameraId}</if>
            <if test="points != null  and points != ''"> and points = #{points}</if>
        </where>
    </select>
    
    <select id="selectYzAiCruiseInfoById" parameterType="Long" resultMap="YzAiCruiseInfoResult">
        <include refid="selectYzAiCruiseInfoVo"/>
        where id = #{id}
    </select>

</mapper>