<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mskyeye.trace.mapper.YzAiPointInfoMapper">
    
    <resultMap type="YzAiPointInfo" id="YzAiPointInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="lon"    column="lon"    />
        <result property="lat"    column="lat"    />
        <result property="pVal"    column="p_val"    />
        <result property="tVal"    column="t_val"    />
        <result property="zVal"    column="z_val"    />
        <result property="cameraId"    column="camera_id"    />
    </resultMap>

    <sql id="selectYzAiPointInfoVo">
        select id, name, lon, lat, p_val, t_val, z_val, camera_id from yz_ai_point_info
    </sql>

    <select id="selectCountByCameraId" parameterType="YzAiPointInfo">
        select count(*) from yz_ai_point_info where camera_id = #{cameraId}
    </select>

    <select id="selectYzAiPointInfoList" parameterType="YzAiPointInfo" resultMap="YzAiPointInfoResult">
        <include refid="selectYzAiPointInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="lon != null "> and lon = #{lon}</if>
            <if test="lat != null "> and lat = #{lat}</if>
            <if test="pVal != null "> and p_val = #{pVal}</if>
            <if test="tVal != null "> and t_val = #{tVal}</if>
            <if test="zVal != null "> and z_val = #{zVal}</if>
            <if test="cameraId != null "> and camera_id = #{cameraId}</if>
        </where>
    </select>
    
    <select id="selectYzAiPointInfoById" parameterType="Long" resultMap="YzAiPointInfoResult">
        <include refid="selectYzAiPointInfoVo"/>
        where id = #{id}
    </select>
</mapper>