/lw-cloud-camera-trace/target/lw-cloud-camera-trace.jar
/lw-cloud-data-db/target/lw-cloud-data-db.jar
/lw-cloud-iot-cms/target/lw-cloud-iot-cms.jar
/lw-cloud-protocol/target/lw-cloud-protocol-1.0.0.jar
/lw-cloud-track-handle/target/lw-cloud-track-handle.jar
/lw-cloud-ws-data/target/lw-cloud-ws-data.jar
