########################################
# Build Outputs (Maven / Gradle / Java)
########################################
target/
build/
*.class
*.jar
*.war
*.log
*.list
*.lst
*.zip
*.swp
*.bak
*.tmp
*.original
*.dall
*.xml.versionsBackup
hs_err_pid*

########################################
# IntelliJ IDEA
########################################
.idea/
*.iml
*.iws
*.ipr

########################################
# Spring Tool Suite / Eclipse
########################################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans

########################################
# Gradle
########################################
.gradle/
!gradle/wrapper/gradle-wrapper.jar

########################################
# Maven
########################################
.mvn/
!mvn/wrapper/maven-wrapper.jar

########################################
# NetBeans
########################################
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

########################################
# JRebel
########################################
rebel.xml

########################################
# VSCode
########################################
.vscode/

########################################
# OS Files
########################################
.DS_Store
Thumbs.db

########################################
# Special Case: Allow some generated sources if needed
########################################
!*/build/*.java
!*/build/*.html
!*/build/*.xml
