<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mskyeye.dataDb.mapper.YzAisStaticInfoMapper">

    <resultMap type="YzAisStaticInfo" id="YzAisStaticInfoResult">
        <result property="mmsi"    column="mmsi"    />
        <result property="imo"    column="imo"    />
        <result property="callSign"    column="call_sign"    />
        <result property="shipName"    column="ship_name"    />
        <result property="shipType"    column="ship_type"    />
        <result property="draught"    column="draught"    />
    </resultMap>

    <sql id="selectYzAisStaticInfoVo">
        select mmsi, imo, call_sign, ship_name, ship_type, draught from yz_ais_static_info
    </sql>

    <select id="selectYzAisStaticInfoList" parameterType="YzAisStaticInfo" resultMap="YzAisStaticInfoResult">
        <include refid="selectYzAisStaticInfoVo"/>
        <where>
            <if test="imo != null "> and imo = #{imo}</if>
            <if test="callSign != null  and callSign != ''"> and call_sign = #{callSign}</if>
            <if test="shipName != null  and shipName != ''"> and ship_name like concat('%', #{shipName}, '%')</if>
            <if test="shipType != null  and shipType != ''"> and ship_type = #{shipType}</if>
            <if test="draught != null "> and draught = #{draught}</if>
        </where>
    </select>

    <select id="selectYzAisStaticInfoByMmsi" parameterType="Long" resultMap="YzAisStaticInfoResult">
        <include refid="selectYzAisStaticInfoVo"/>
        where mmsi = #{mmsi}
    </select>

    <insert id="insertYzAisStaticInfo" parameterType="YzAisStaticInfo">
        insert into yz_ais_static_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mmsi != null">mmsi,</if>
            <if test="imo != null">imo,</if>
            <if test="callSign != null">call_sign,</if>
            <if test="shipName != null">ship_name,</if>
            <if test="shipType != null">ship_type,</if>
            <if test="draught != null">draught,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mmsi != null">#{mmsi},</if>
            <if test="imo != null">#{imo},</if>
            <if test="callSign != null">#{callSign},</if>
            <if test="shipName != null">#{shipName},</if>
            <if test="shipType != null">#{shipType},</if>
            <if test="draught != null">#{draught},</if>
        </trim>
    </insert>

    <update id="updateYzAisStaticInfo" parameterType="YzAisStaticInfo">
        update yz_ais_static_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="imo != null">imo = #{imo},</if>
            <if test="callSign != null">call_sign = #{callSign},</if>
            <if test="shipName != null">ship_name = #{shipName},</if>
            <if test="shipType != null">ship_type = #{shipType},</if>
            <if test="draught != null">draught = #{draught},</if>
        </trim>
        where mmsi = #{mmsi}
    </update>

    <delete id="deleteYzAisStaticInfoByMmsi" parameterType="Long">
        delete from yz_ais_static_info where mmsi = #{mmsi}
    </delete>

    <delete id="deleteYzAisStaticInfoByMmsis" parameterType="String">
        delete from yz_ais_static_info where mmsi in
        <foreach item="mmsi" collection="array" open="(" separator="," close=")">
            #{mmsi}
        </foreach>
    </delete>
</mapper>